include:
  - project: 'nielsen-media/identity/cloudops/continuous-integration'
    ref: master
    file: '/Jobs/maf/initPipeline.yml'
image: node:12.16.2
cache:
  paths:
    - node_modules/
    - plugins/*/node_modules/
    - packages/*/node_modules/

stages:
  - mafInit
  - install
  - test
  - deployPlugins
  - prepareBuild
  - buildFork

install:
  extends: .base
  stage: install
  tags:
    - cicd-runner-maf
  script:
    - echo "${BASH_VERSION}"
    - npm install -g lerna
    - yarn --frozen-lockfile
    - lerna bootstrap
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $FORK_BRANCH_NAME

# lint:
#   stage: test
#   tags:
#     - cicd-runner-maf
#   script:
#     - git fetch --no-tags --prune --depth=1 origin +refs/heads/master:refs/remotes/origin/master
#     - yarn lint
#   rules:
#     - if: $CI_MERGE_REQUEST_IID

test:
  extends: .base
  stage: test
  tags:
    - cicd-runner-maf
  script:
    - git fetch --no-tags --prune --depth=1 origin +refs/heads/master:refs/remotes/origin/master
    - yarn test
  rules:
    - if: $CI_MERGE_REQUEST_IID

deployPlugins:
  stage: deployPlugins
  extends: .base
  tags:
    - cicd-runner-maf
  script:
    - npm install -g lerna
    - configureSSHKey
    - setGitConfig
    - git fetch
    - yarn prerelease
    - lerna publish --registry https://nexus.exelator.net/repository/npm-internal/ --yes
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $FORK_BRANCH_NAME

prepareSupersetBuild:
  stage: prepareBuild
  extends: .base
  tags:
    - cicd-runner-maf
  script:
    - yarn
    # get fork branch name
    - echo 'fork branch name is ' $FORK_BRANCH_NAME
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/nielsen-media/maf/superset/superset-maf-extensions.git
    - cd superset-maf-extensions
    - if [[ -z ${FORK_BRANCH_NAME} ]]; then
    -   FORK_BRANCH_NAME=${NEW_FORK_VERSION:=$(sed '2!d' setup.py | cut -d '=' -f 2  | tr -d '""')}
    - fi
    - echo 'fork branch name is ' $FORK_BRANCH_NAME

     # Clone the repos
    - cd ..
    - git clone --single-branch --branch $FORK_BRANCH_NAME https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/nielsen-media/maf/superset/superset-fork.git
    # Add dependencies from superset-maf-ui to supserset-frontend and generate the preset
    - cp .npmrc ./superset-fork/superset-frontend/.npmrc
    - cp .npmrc ./superset-maf-extensions/.npmrc
    - cd superset-fork
    # Temp until we deploy to public npm registry, add npmrc copy command to the dockerfile
    - sed -i -e '/^RUN mkdir -p \/app\/superset-frontend.*/a COPY ./superset-frontend/.npmrc /app/superset-frontend/.npmrc' "./Dockerfile"
    - cd superset-frontend
    - node ../../scripts/addDependencies.js
    - node ../../scripts/generateMafPreset.js
    - mv ./MafPreset.ts ./src/visualizations/presets/MafPreset.js
    - cp ../../templates/setupPluginsExtra.js ./src/setup/setupPluginsExtra.js
    - npm install
  artifacts:
    paths:
      - ./superset-fork
      - ./superset-maf-extensions
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $FORK_BRANCH_NAME

buildDocker:
  stage: buildFork
  extends: .base
  image:
    name: docker:19.03
  services:
    - name: docker:19.03-dind
      entrypoint: ['env', '-u', 'DOCKER_HOST']
      command: ['dockerd-entrypoint.sh']
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  tags:
    - cicd-runner-maf
  script:
    - cp .npmrc ./superset-fork/superset-frontend/.npmrc
    - cp .npmrc ./superset-fork/.npmrc
    # Get current version and fork branch name
    - cd superset-maf-extensions
    - VERSION=$(sed '1!d' setup.py | cut -d '=' -f 2  | tr -d '""')
    - echo $VERSION
    - echo 'fork branch name is ' $FORK_BRANCH_NAME
    - if [[ -z ${FORK_BRANCH_NAME} ]]; then
    -   FORK_BRANCH_NAME=${NEW_FORK_VERSION:=$(sed '2!d' setup.py | cut -d '=' -f 2  | tr -d '""')}
    - fi
    - echo 'fork branch name is ' $FORK_BRANCH_NAME
    # Build docker and push it
    - cd ../superset-fork
    - docker login -u ${DOCKERHUB_USER} -p ${DOCKERHUB_PASS} docker.io
    - docker build -t exelate/superset-fork:latest -t exelate/superset-fork:${FORK_BRANCH_NAME}-latest -t exelate/superset-fork:${FORK_BRANCH_NAME}-${CI_PIPELINE_IID} .
    - docker push exelate/superset-fork:${FORK_BRANCH_NAME}-latest
    - docker push exelate/superset-fork:latest
    - docker push exelate/superset-fork:${FORK_BRANCH_NAME}-${CI_PIPELINE_IID}
  dependencies:
    - initMasterPipeline
    - initMergeRequestPipeline
    - prepareSupersetBuild
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $FORK_BRANCH_NAME
